// .catalogListing-card {
//     border: 1px solid gray;

// }

.catalogListing-cardHeader {
  border: none;
}

.catalog-heading {
  margin-bottom: 1rem !important;
}

// .catalog-count {
//     border-radius: 17px;
//     margin-left: 2px;
// }

.btn-colors {
  color: $primary-color !important;
  border: 1px solid $primary-color !important;
}

.catalog-wrapper {
  // background-color: #D6EBFF;
  // border: 1px solid rgb(69, 68, 68) ;
  // padding: 30px;
}

.catalog-inputBox {
  background-color: #fff1d6 !important;
  border: 1px solid #ffebc2 !important;
  border-radius: 6px;
  // margin-left: 100px !important;
}
.blue-icon-color {
  background: #0071dc !important;
  border: 2px solid #0071dc !important;
}
.grey-icon-color {
  background-color: #2c4152 !important;
  border: 2px solid #2c4152 !important;
}
.orange-icon-color {
  background-color: #f77c29 !important;
  border: 2px solid #f77c29 !important;
}
.btn-font {
  font-size: 1.2 rem !important;
}

@media only screen and (max-width: 600px) {
  .catalog-inputBox {
    margin-left: 0px !important;
  }

  .modal-dialog {
    width: auto !important;
  }
}

.createCatalog-btn {
  background-color: $primary-color !important;
  border: 1px solid $primary-color !important;
  color: $white-color !important;
  border-radius: 9px !important;
}

.catalogCreate-wrapper {
  margin-top: 50px;
  margin-bottom: 10px;
}

.modal-dialog {
  width: 500px;
}

.modal-catalogBlock {
  background-color: #d6ebff;
  padding: 10px;
  border: none !important;
}

.catalog-modal .modal-content {
  height: 550px;
}

.catalog-title {
  font-size: 20px;
  text-align: center;
}

.btn-catalogview {
  border-radius: 5px !important;
}

.toggleView-icon {
  cursor: pointer;
}

.btn-catalogAddProduct {
  background-color: #f2cd5c !important;
  border: 1px solid $primary-color !important;
  border-radius: 5px !important;
}
